.about {
    margin-left: 10px;
}

.div-wrapper-about-page {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: Cotta;
    font-size: 80px;
    font-weight: 100;
}

.about-text {
    letter-spacing: 0.05em;
    font-size: 13px;
    width: 80%;
    text-align: justify;
    text-justify: auto;
    line-height: 1.5em;
    font-family: "Darker Grotesque";
    top: 10%;
}

.text-wrapper-1-about-page {
    font-size: 120%
}

.text-wrapper-2-about-page {
    font-size: 110%
}