.about {
    border: pink solid 2px;
    min-height: 100vh;
}

.about-text {
    border: blue solid 2px;
    width: 30vh;
    text-align: justify;
    margin-left: 40px;
}

.title-wrapper {
    border: solid orange 2px;
    display: flex;
    margin-left: 10px;
    position: relative;
}

.star {
    position: absolute;
    width: 50%;
    right: 17rem;
    bottom: -20%;
    opacity: 40%;
}

.title {
    margin-left: 30px;
}