html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
    background-color: #FFF1E3;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* height: 100%; */
    position:relative;
    color: #FF372F;
    font-family: "Montserrat"
}

.star {
    position: absolute;
    height: 25vw;
    opacity: 50%;
    top: -5%;
    left: -5%
}

.title {
    font-family: "Canobis";
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: 5.76px;
    position: absolute;
    top: 20%;
    left: 12%;
    width: 70%;
    margin: 0;
}

.about-text {
    font-size: 0.9vw; 
    font-weight: 200;
    margin: 0; 
    text-align: left; 
    position: absolute;
    top: 40%;
    right: 65%;
    width: 400px;
    min-width: 400px;
}

/* .icons_container {
    position: absolute;
    width: 300px;
} */

.languages_container {
    position: absolute;
    width: 300px;
    right: 35%;
    bottom: 20%;
    text-align: center;
}

.social_container {
    position: absolute;
    width: 300px;
    right: 15%;
    bottom: 39%;
    text-align: center;
}

.title-1,
.title-2 {
    font-weight: 300;    
}

.text {
    font-style: italic;
    font-weight: 200;
    font-size: 0.6vw;
    width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


