.project_container {
    background-color: #FFF1E3;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:relative;
    color: #FF372F;
    font-family: "Montserrat"
}

.projects {
    font-family: "Canobis";
    font-size: 7vw;
    font-weight: 400;
    letter-spacing: 3px;
    opacity: 40%;
    position: absolute;
    top: -5%;
    left: 3%;
}

.infos_container {
    position: absolute;
    top: 20%;
    left: 5%;
}

.project_title {
    font-size: 3vw;
    font-weight: 400;
}

.project_content {
    margin-top: -30px;
    width: 400px;
    font-weight: 200;
}

a {
    color: #FF372F;
    font-size: 110%;
    font-weight: 200
}

.browser {
    position: absolute;
    top : 25%;
    right: 5%
}

.arrow {
    position: absolute;
    bottom: -25%
}

img {
    width: 40%;
    height: 40%;
    position: absolute;
    top : 34%;
    right: 9%; 
    z-index: 1;
    border-radius: 20px;
}