.project_container {
  z-index: 2;
  font-family: "Darker Grotesque";
}

.image_project {
  max-width: 90%;
  margin-bottom: 20px;
}

.link {
  color: (var(--text-color));
  align-self: flex-start;
}

.project_title {
  font-family: "Cotta";
  font-weight: 300;
  font-style: italic;
  font-size: 3.3em

}

@media screen and (max-width: 1024px) {
  .project_container {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .project_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 5%;
  }

  .image_project {
    position: absolute;
    max-width: 50%;
    margin-top: 90px;
    margin-left: 500px;
    opacity: 50%;
  }

  .project_container:hover > .image_project {
    opacity: 100;
    transition: opacity 0.5s;
  }

  .project_title {
    font-size: 8em;
    z-index: 10;
    margin: 0;
  }

  .link {
    margin: 0;
    font-size: 1.2em;
  }

  .tools {
    font-size: 1.2em;
    max-width: 50%;
  }
}
