.container {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    border: solid pink 2px
}

.home {
    display: flex;
    flex-direction: column;
    border: solid blue 2px;
    height: 80vh;
    width: 35vh;
    align-items: center;
    text-align: center;  
}

.div-wrapper-1 {
    position: absolute;
    align-self: center;
}
.div-wrapper-2 {
    position: absolute; 
    bottom: 5rem;
}