.container {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 35vh;
    align-items: center;
    text-align: center;  
}

.div-wrapper-1 {
    position: absolute;
    align-self: center;
}
.div-wrapper-2 {
    position: absolute; 
    bottom: 5rem;
    width: 15rem;
    font-size: 90%;
}

.text-wrapper-2 {
    font-family: Canobis;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    font-weight: 100;
}