.wave_container {
    max-width: 100%;
    display: flex;
    justify-content: end;
}

.waves_3 {
    position: absolute;
    opacity: 30%;
    z-index: -1;
    max-width: 20%;
}

@media screen and (min-width: 1024px) {
    .waves_3 {
        opacity: 0%
    }
}