:root {
  --text-color: #ff372f;
  --background-color: #fff;
}

:root[data-theme="dark"] {
  --text-color: #ffb6d0;
  --background-color: #301027;
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
  overflow-y: scroll;
}

.app_container {
  color: #ff372f;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

.projects {
  font-family: "Cotta";
  font-weight: 100;
  margin: 0;
  margin-left: 15%;
  font-size: 100px;
  transform: translate(-50% 50%)
}

@media screen and (min-width: 1000px) {

  .pages_container {
    position: relative;
    height: 300vh;
    width: 108vh;
  }

  .pages_wrapper {
    display: flex;
    position: sticky;
    top: 0;
    height: screen;
    /* overflow: hidden; */
  }

  .page {
    margin: 0;
    min-width: 150vh;
    height: 50vh;
    margin: 30px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1000px){
  .projects {
    font-size: 80px;
    margin-left: 20px;
    margin-bottom: 40px;
  }

}
