:root {
  --text-color: #ff372f;
  --background-color: #fff;
}

:root[data-theme="dark"] {
  --text-color: #ffb6d0;
  --background-color: #301027;
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
}

.app_container {
  color: #ff372f;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

.projects {
  font-family: "Cotta";
  font-weight: 100;
}

@media screen and (min-width: 1000px) {
  .projects {
  }

  .pages_container {
    position: relative;
    height: 300vh;
    width: 100vh;
  }

  .pages_wrapper {
    display: flex;
    position: sticky;
    top: 0;
    height: screen;
    /* overflow: hidden; */
  }

  .page {
    min-width: 150vh;
    height: 50vh;
    margin: 30px;
    margin-top: 200px;
  }
}
